# server
fastapi==0.115.8
uvicorn==0.34.0

# pytorch
torch==2.3.1
flash_attn==2.7.4.post1
accelerate==0.31.0 
transformers==4.48.2

# evaluation
azure-ai-evaluation 
promptflow-azure
marshmallow==3.23.2
azure-cli --pre --extra-index-url=https://azurecliprod.blob.core.windows.net/edge

